@keyframes color1 {
  0% {
    opacity: 1;
  }
  3% {
    opacity: 0;
  }
  5%, 20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30%, 100% {
    opacity: 1;
  }
}
.traffic-light__animation-color1{
  animation: color1 20s infinite ease-in-out;
}
