@keyframes color3 {
  0%,50% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  60%, 72% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  80%,100% {
    opacity: 1;
  }
}
.traffic-light__animation-color3{
  animation: color3 20s infinite ease-in-out;
}
