@keyframes color2 {
  0%,22% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  30%, 48% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  55%,70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  80%, 100% {
    opacity: 0;
  }
}
.traffic-light__animation-color2{
  animation: color2 20s infinite ease-in-out;
}
